[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
pycryptodome = "*"
requests = "*"
opencv-python = "*"
matplotlib = "*"
pathlib = "*"
keras = "*"
pybase64 = "*"
numpy = "*"
pillow = "*"
psycopg2-binary = "*"
libpq-dev = "*"

[requires]
python_version = "3.6"
